$zero-size: 0;
$borderless: none;

.card.borderless {
	border: none;
}

.card {
	margin-top: 1rem;

	img {
        width: 100%;
		border-radius: 0.5rem;
    }

	h3 {
		margin-top: 1rem;
		font-size: 1.125rem;
	}
}

.top {
	margin-top: 1.5rem;
}

.bottom {
	padding-bottom: 3rem;
}
