$zero-size: 0;
$borderless: none;

.card.borderless {
    border: none;
}
.card {
    height: 15rem;
    overflow: hidden;
}
.card h3 {
    margin-top: 1rem;
}
.card img {
    height: 100%;
}
.top {
    margin-top: 1.5rem;
}
.bottom {
    padding-bottom: 3rem;
}