$hero-back: url("../images/hero-back.jpg");
$dark-grey: #262626;

.white {
    color: $white;
}
.hero-back {
    background-image: $hero-back;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0.9rem;
}
.hero-gradient {
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, $dark-grey 100%);
}
.hero-spacing {
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.hero-p-spacing {
    margin-bottom: 2rem;
}
.sandwich-hero .grid-x {
    margin-top: 2rem;
}
.cell h4 {
    margin-top: 0.5rem;
}